<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form">Logo Setting</h4>
				</div>
				<div class="card-body">
					<div class="px-3">
            
            
						<form class="form" [formGroup]="Form" novalidate (ngSubmit)="addLogo(Form.value)">
									<div class="col-md-12">
										<div class="form-group">
                      <label for="projectinput3">Logo</label>
                      <input type="file" id="logo" name="logo" class="form-control"  formControlName="logo" #logo />

                      <p *ngIf="Form.controls['logo'].touched && !Form.controls['logo'].valid"  class="error-msg">  
                          <span *ngIf="Form.controls['logo'].hasError('required') " >  
                             Logo is required
                              </span>  
                          
                     
                          </p> 
                      
										</div>
                  </div>
                  
      <div class="col-md-12" *ngFor="let users of user">
        <div class="form-group">
            <img src="{{this.url}}/assets/uploads/{{users.logo}}" width="200" height="auto"  *ngIf="users.logo" > 

        </div>
      </div>
       

                            
      <div class="form-actions">
             <button type="submit"  class="btn btn-raised btn-raised btn-primary">
            <i class="fa fa-check-square-o"></i> Save
          </button>
        </div>	
      </form>
					</div></div>
            

        </div></div>
        </div>