<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="/assets/app-user/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/app-user/css/font-awesome.css" rel="stylesheet">
    <link href="/assets/app-user/css/slider.css" rel="stylesheet">
    <link href="/assets/app-user/css/style.css" rel="stylesheet">
    <link href="/assets/app-user/css/common.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.png">

</head>

<body class="">
    <div class="homepage overlay_div" onclick="closeNav()"></div>
    <app-topbar></app-topbar>
    <router-outlet></router-outlet>

</body>

</html>