<section id="base-style">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="actions float-right">


                        <a (click)="goBack()">
                            <span class="btn btn-raised btn-dark btn-sm ">
                                <i class="fa fa-angle-double-left"></i>&nbsp;back</span>
                        </a>

                    </div>
                    <h4 class="card-title">Settlement Management - Ride Information</h4>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <table class="table table-striped table-bordered base-style">
                            <thead>
                                <tr>
                                    <th>#</th>

                                    <th>Date</th>
                                    <th>Total Fare</th>
                                    <th>Tax</th>
                                    <th>Commission</th>
                                    <th>Ride&nbsp;Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let page of rides | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 25, currentPage: p };  let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{page.onride_id.created_at | date}}</td>
                                    <td>{{this.user.currencySymbol}}&nbsp;&nbsp;{{page.baseprice}}</td>

                                    <td> {{this.user.currencySymbol}}&nbsp;&nbsp;{{page.tax}}</td>
                                    <td> {{this.user.currencySymbol}}&nbsp;&nbsp;{{page.commissionamount}}</td>
                                    <td>
                                        <span class="badge badge-success" *ngIf="page.onride_id.ridestatus=='accepted'">Accepted</span>
                                        <span class="badge badge-danger" *ngIf="page.onride_id.ridestatus=='cancelled'">Cancelled</span>
                                        <span class="badge badge-primary" *ngIf="page.onride_id.ridestatus=='scheduled'">Scheduled</span>
                                        <span class="badge badge-info" *ngIf="page.onride_id.ridestatus=='ridenotaccepted'">Ride Not Accepted</span>
                                        <span class="badge badge-secondary" *ngIf="page.onride_id.ridestatus=='ontheway'">On the way</span>
                                        <span class="badge badge-warning" *ngIf="page.onride_id.ridestatus=='onride'">Onride</span>
                                        <span class="badge badge-dark" *ngIf="page.onride_id.ridestatus=='completed'">Completed</span>

                                    </td>
                                    <td>


                                        <a class="btn btn-raised btn-icon btn-info mr-1" [routerLink]="['/admin/management/ridesdetails',page.onride_id._id]">
                                            <i class="fa fa-eye"></i>
                                        </a>



                                    </td>
                                </tr>

                                <tr *ngIf="(rides | filter:filter).length === 0 ">
                                    <td colspan="6" style="text-align:center;">No result found</td>

                                </tr>
                            </tbody>


                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>