
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-form">Category Image</h4>
      </div>
      <div class="card-body">
        <div class="px-3">
          
          
          <form class="form" [formGroup]="Form" novalidate (ngSubmit)="Image(Form.value)">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="projectinput3">Category Image</label>
                    <input type="file" id="image" name="image" class="form-control"  formControlName="image" #image />

                    <p *ngIf="Form.controls['image'].touched && !Form.controls['image'].valid"  class="error-msg">  
                        <span *ngIf="Form.controls['image'].hasError('required') " >  
                           Category Image is required
                            </span>  
                        
                   
                        </p> 
                    
                  </div>
                </div>
                
    <div class="col-md-12">
      <div class="form-group">
          <img src="{{this.url}}/assets/uploads/{{category.image}}" width="200" height="auto"  *ngIf="category.image" > 

      </div>
    </div>
     

                          
    <div class="form-actions">
           <button type="submit"  class="btn btn-raised btn-raised btn-primary">
          <i class="fa fa-check-square-o"></i> Save
        </button>
      </div>	
    </form>
        </div></div>
          

      </div></div>
      </div>