<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-form">Add Banner</h4>
      </div>
      <div class="card-body">
        <div class="px-3">
         

          <form class="form" [formGroup]="Form" novalidate (ngSubmit)="addBanner(Form.value)">
            
               
            <div class="col-md-12">
              <div class="form-group">
                <label for="projectinput3">Banner Type</label>

          <select class="form-control select2" formControlName="type" #type>
              <option class="select2-dropdown" value="User">User </option>
              <option class="select2-dropdown" value="Driver">Driver</option>
          </select>
                                      <p *ngIf="Form.controls['type'].touched && !Form.controls['type'].valid">  
                  <span *ngIf="Form.controls['type'].hasError('required') " style="color:red">  
                     Banner Type is required  
                      </span>  
                  
             
                  </p>  

               
              </div>
            </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="projectinput3">Title</label>

                    <input type="text" class="form-control"  formControlName="title" #title [maxlength]="60" >
                    <p *ngIf="Form.controls['title'].touched && !Form.controls['title'].valid"   class="error-msg">  
                      <span *ngIf="Form.controls['title'].hasError('required') ">  
                         Title is required  
                          </span>  
                          <span *ngIf="Form.controls['title'].hasError('minlength') " >  
                              Title must have 3 characters length.
                              </span>  
                              <span *ngIf="Form.controls['title'].hasError('maxlength') " >  
                                Title with in 60 characters length.
                                </span>
                 
                      </p>  
                  </div>
                </div>
                


    <div class="col-md-12">
      <div class="form-group">
        <label for="projectinput3">Banner Image</label>

        <input type="file" id="image" name="image" class="form-control"  formControlName="image" #image />
       <p *ngIf="Form.controls['image'].touched && !Form.controls['image'].valid" class="error-msg">  
          <span *ngIf="Form.controls['image'].hasError('required') ">  
            Banner Image is required 
              </span>      
          </p>  
      </div>
    </div>
        
    <div class="form-actions">
   
        <button type="submit"  class="btn btn-raised btn-raised btn-primary">
          <i class="fa fa-check-square-o"></i> Save
        </button>
      </div>

        
        

      
      

          </form>
        </div></div>
          

      </div></div>
      </div>