<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-form">Email Setting (SMTP)</h4>
            </div>
            <div class="card-body">
                <div class="px-3">


                    <form class="form" [formGroup]="userForm" novalidate (ngSubmit)="updateSmtp(userForm.value)">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="projectinput3">SMTP Host</label>
                                <input type="text" class="form-control" formControlName="smptHost" #smptHost [(ngModel)]="user.smptHost" value={{user.smptHost}}>
                                <p *ngIf="userForm.controls['smptHost'].touched && !userForm.controls['smptHost'].valid" class="error-msg">
                                    <span *ngIf="userForm.controls['smptHost'].hasError('required') ">
                                        SMTP Host is required
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="projectinput4">SMTP Port</label>
                                <input type="text" formControlName="smtpPort" #smtpPort [(ngModel)]="user.smtpPort" value={{user.smtpPort}} class="form-control">
                                <p *ngIf="userForm.controls['smtpPort'].touched && !userForm.controls['smtpPort'].valid" class="error-msg">
                                    <span *ngIf="userForm.controls['smtpPort'].hasError('required') ">
                                        SMTP Port is required
                                    </span>
                                </p>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="projectinput4">SMTP Username</label>
                                <input type="text" formControlName="smtpUsername" #smtpUsername [(ngModel)]="user.smtpUsername" value={{user.smtpUsername}}
                                    class="form-control">
                                <p *ngIf="userForm.controls['smtpUsername'].touched && !userForm.controls['smtpUsername'].valid" class="error-msg">
                                    <span *ngIf="userForm.controls['smtpUsername'].hasError('required') ">
                                        SMTP Username is required
                                    </span>
                                </p>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="projectinput4">SMTP Password</label>
                                <input type="password" formControlName="smtpPassword" #smtpPassword [(ngModel)]="user.smtpPassword" value={{user.smtpPassword}}
                                    class="form-control">
                                <p *ngIf="userForm.controls['smtpPassword'].touched && !userForm.controls['smtpPassword'].valid" class="error-msg">
                                    <span *ngIf="userForm.controls['smtpPassword'].hasError('required') ">
                                        SMTP Password is required
                                    </span>
                                </p>
                            </div>
                        </div>




                        <div class="form-actions">
                            <button type="submit" class="btn btn-raised btn-raised btn-primary">
                                <i class="fa fa-check-square-o"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>