<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-form">
          <i class="ft-user"></i> Change Password</h4>
      </div>
      <div class="card-body">
        <div class="px-3">


          <form class="form" [formGroup]="userForm" novalidate (ngSubmit)="updatePassword(userForm.value)">
            <div class="col-md-12">
              <div class="form-group">
                <label for="projectinput3">Password</label>
                <input type="password" class="form-control" formControlName="password" #password>

                <p *ngIf="userForm.controls['password'].touched && !userForm.controls['password'].valid" class="error-msg">
                  <span *ngIf="userForm.controls['password'].hasError('required') ">
                    Enter your old password
                  </span>


                </p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="projectinput4">New Password</label>
                <input type="password" class="form-control" formControlName="newPassword" #newPassword>
                <p *ngIf="userForm.controls['newPassword'].touched && !userForm.controls['newPassword'].valid" class="error-msg">
                  <span *ngIf="userForm.controls['newPassword'].hasError('required') ">
                    Enter your new password
                  </span>
                  <span *ngIf="userForm.controls['newPassword'].hasError('minlength') ">
                    New password must be of minimum 6 characters length
                  </span>

                </p>
              </div>
            </div>



            <div class="form-actions">
              <button type="submit" class="btn btn-raised btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>