<!DOCTYPE html>
<html lang="en" class="loading">

<head>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/app-assets/vendors/css/prism.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/app-assets/css/app.css">

</head>

<body data-col="1-column" class=" 1-column  blank-page blank-page">
    <div class="wrapper">
        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">

                    <section id="login">

                        <div class="container-fluid">
                            <div class="row full-height-vh">

                                <div class="col-12 d-flex align-items-center justify-content-center">

                                    <form [formGroup]="form" novalidate (ngSubmit)="onLoginSubmit(form.value)">
                                        <div class="card gradient-indigo-purple text-center width-400">
                                            <div class="card-img overlap">
                                                <img alt="element 06" class="mb-1" src="./assets/app-assets/img/portrait/avatars/avatar-08.png" width="190">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <h2 class="white">Login</h2>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <input type="text" formControlName='username' name='username' id='username' class="form-control" placeholder="Enter Email"
                                                                autocomplete=off>

                                                        </div>
                                                    </div>

                                                    <p *ngIf="form.controls['username'].touched && !form.controls['username'].valid">
                                                        <span *ngIf="form.controls['username'].hasError('email') " style="color:#e39d9d">
                                                            Email not valid
                                                        </span>

                                                    </p>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <input type="password" formControlName='password' name='password' id='password' class="form-control" placeholder=" Enter Password"
                                                                autocomplete=off>
                                                        </div>
                                                    </div>

                                                    <p *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                                                        <span *ngIf="form.controls['password'].hasError('required') " style="color:#e39d9d">
                                                            password is required
                                                        </span>

                                                    </p>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <input class="btn btn-danger btn-raised btn-block" type="submit" value="Login">

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


</body>

</html>