<section id="base-style">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Payment Management</h4>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
            <div class="actions float-right dataTables_filter">
             
      <br>
            </div>
                            <table class="table table-striped table-bordered base-style">
                            <thead>
                                <tr><th>#</th>
                                  <th>Payment&nbsp;Type</th>
                                  <th>Ride Fare</th>
                                  <th>Pickup/Drop Location</th>
                                  <th>KM</th>
                                  <th>Drop Time</th>                           
                                          
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
        <tr *ngFor="let page of payment | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 25, currentPage: p };  let i = index">
            <td>{{i + 1}}</td>
               <td >{{page.payment_type}}</td>
            <td> {{this.user.currencySymbol}}&nbsp;&nbsp;{{page.ride_fare}}</td>
            <td> {{this.page.onride_id.pickup_location}}  to  {{this.page.onride_id.pickup_location}}</td>
            <td> {{this.page.onride_id.ridedistance}}</td>
            <td>{{page.drop_time | date}}</td>
            <td>
  
  
    <a class="btn btn-raised btn-icon btn-info mr-1"  [routerLink]="['/admin/management/paymentdetails',page._id]">
         <i class="fa fa-eye"></i></a>
                
                    
            
        </td>
        </tr>
  
        <tr *ngIf="(payment | filter:filter).length === 0 ">
              <td colspan="7" style="text-align:center;">No result found</td>            
      
              </tr>
        </tbody>
                        
                                        
                        </table>		
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  