<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-form">Payment Setting</h4>
            </div>
            <div class="card-body">
                <div class="px-3">


                    <form class="form" [formGroup]="userForm" novalidate (ngSubmit)="updatePayment(userForm.value)">


                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="radio" formControlName="BraintreeStatus" #BraintreeStatus [(ngModel)]="user.BraintreeStatus" [checked]="user.BraintreeStatus === 1"
                                    [value]="1"> Braintree (Live)
                                <input type="radio" formControlName="BraintreeStatus" #BraintreeStatus [(ngModel)]="user.BraintreeStatus" [checked]="user.BraintreeStatus === 0"
                                    [value]="0"> Sandbox (Test)
                                <p *ngIf="userForm.controls['BraintreeStatus'].touched && !userForm.controls['BraintreeStatus'].valid" class="error-msg">
                                    <span *ngIf="userForm.controls['BraintreeStatus'].hasError('required') ">
                                        This field is required
                                    </span>


                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="projectinput3">Braintree Merchand ID</label>
                                <input type="text" class="form-control" formControlName="merchandId" #merchandId [(ngModel)]="user.merchandId" value={{user.merchandId}}>
                                <p *ngIf="userForm.controls['merchandId'].touched && !userForm.controls['merchandId'].valid" class="error-msg">
                                    <span *ngIf="userForm.controls['merchandId'].hasError('required') ">
                                        Braintree merchand id is required
                                    </span>


                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="projectinput4">Braintree Public Key</label>
                                <input type="text" formControlName="publicKey" #publicKey [(ngModel)]="user.publicKey" value={{user.publicKey}} class="form-control">
                                <p *ngIf="userForm.controls['publicKey'].touched && !userForm.controls['publicKey'].valid" class="error-msg">
                                    <span *ngIf="userForm.controls['publicKey'].hasError('required') ">
                                        Braintree public key is required
                                    </span>


                                </p>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="projectinput4">Braintree Private Key</label>
                                <input type="text" formControlName="privateKey" #privateKey [(ngModel)]="user.privateKey" value={{user.privateKey}} class="form-control">
                                <p *ngIf="userForm.controls['publicKey'].touched && !userForm.controls['publicKey'].valid" class="error-msg">
                                    <span *ngIf="userForm.controls['publicKey'].hasError('required') ">
                                        Braintree private key is required
                                    </span>


                                </p>
                            </div>
                        </div>





                        <div class="form-actions">
                            <button type="submit" class="btn btn-raised btn-raised btn-primary">
                                <i class="fa fa-check-square-o"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>